@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Ubuntu:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
}

.sidebar{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: black;
}

.sidebar:hover{
    width: 240px;
    transform: 0.5s;
}

.logo{
    height: 75px;
    padding: 16px;
}

.menu{
    height: 85%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu a i{
    font-size: 1.2rem;
}

.menu li{
    font-size: 17px;
    padding: 1rem;
    border-radius: 8px;
    margin: 0 10px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active{
    cursor: pointer;
    background-color: #1e1e1e;
}

.menu a{
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: white;
    gap: 1.5rem;
}

.menu a span{
    overflow: hidden;
}

.menu i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Main body section*/
.main-content{
    position: relative;
    width: 100%;
    background-color: #ebe9e9;
    padding: 1rem;
}

.header-wrapper img{
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 4px 12px;
}

.search-box input{
    background: transparent;
    padding: 10px;
}

.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.search-box i:hover{
    transform: scale(1.2);
}

/* Card container section */
.card-container{
    background: white;
    border-radius: 10px;
    padding: 2rem;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-title{
    padding-bottom: 10px;
    font-size: 15px;
}

.payment-card{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5 ease-in-out;
}

.payment-card:hover{
    transform: translateY(-5px);
}